*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    overflow-X: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: rgb(0, 0, 0);
    position: absolute;
}
#logo{
    top: 0.313rem;
    position: absolute;
    font-size: 2.5rem;
    transition: 170ms;
}
#logo:hover{
    font-size: 2.8rem;
    transition: 0.1s ease;
}
#bag{
    top: 0.713rem;
    position: absolute;
    right: 4.125rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 170ms;
}
#bag:hover{
    font-size: 1.7rem;
    transition: 0.1s ease;
}
#bar{
    top: 0.550rem;
    position: absolute;
    right: 1.25rem;
    margin-top: 0.313rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 170ms;
}
#bar:hover{
    font-size: 1.7rem;
    transition: 0.1s ease;
}
#account{
    top: 0.713rem;
    position: absolute;
    left: 0.938rem;
    transition: 170ms;
}
#account::after{
    content: "";
    position: absolute;
    background-color: rgb(234, 234, 244);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}
#account:hover::after{
    width: 100%;
    transition: 170ms;
}
#kolye::after{
    content: "";
    position: absolute;
    background-color: rgb(234, 234, 244);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}
#kolye:hover::after{
    width: 100%;
    transition: 170ms;
}
#kolye{
    top: 0.713rem;
    position: absolute;
    left: 6.13rem;
    transition: 170ms;
}
a{
    text-decoration: none;
    color: white;
}
.section1{
    width: 50%;
}
.section2{
    width: 50%;
    font-family: arimo;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buySection{
    width: 100%;
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
.icons{
    text-align: center;
    margin-top: 2vw;
}
.name{
    font-size: 1.5rem;
}
.price{
    font-size: 1.4rem;
}
.texts{
    margin-bottom: 2vw;
    transform: translateY(-6rem);
}
.buttons{
    color: white;
    font-size: 1.5rem;
}
.buy:active{
    background-color: rgb(107, 107, 107);
}
.sepet:active{
    background-color: rgb(143, 143, 143);
}
.buy{
    margin-bottom: 1.5vw;
    padding: 10px 200px;
    background-color: rgb(27, 27, 27);
    transition: 500ms;
    text-align: center;
}
.buy:hover{
    box-shadow: 4px 7px 9px black;
    transition: 750ms;
}
.sepet{
    padding: 10px 200px;
    background-color: rgb(180, 180, 180);
    transition: 500ms;
}
.sepet:hover{
    box-shadow: 4px 4px 9px black;
    transition: 750ms;
}
#left{
    cursor: pointer;
}
#right{
    cursor: pointer;
} 
#oc{
    visibility: hidden;
}








@media (max-width: 1140px){
    .section1{
        margin-bottom: 10vw;
    }
    #img{
        margin-top: 10vw;
    }
    .buySection{
        flex-direction: column;
    }
    .texts{
        margin-top: 10vw;
        margin-bottom: 0;
    }
    .sepet{
        font-size: 1.5vw;
        padding: 2vw 0vw;
        text-align: center;
    }
    .buy{
        font-size: 1.5vw;
        padding: 2vw 0;
        text-align: center;
    }
    #oc{
        padding: 2vw 25vw;
        visibility: hidden;
    }
}
@media (max-width: 500px){
    #img{
        margin-top: 15vw;
    }
    .texts{
        margin-top: 20vw;
    }
    .sectorOne{
        background-image: url("images/31.jpg");
    }
    #account{
        top: 0.513rem;
        font-size: 0.7rem;
        left: 0.338rem;
    }
    #kolye{
        top: 0.513rem;
        font-size: 0.7rem;
        left: 4.313rem;
    }
    #bag{
        top: 0.513rem;
        font-size: 1rem;
    }
    #bar{
        top: 0.413rem;
        font-size: 1rem;
    }
    #logo{
        font-size: 1.5rem;
    }
    .title{
        font-size: 1.5rem;
        padding-left: 20px;
    }
    .subTitle{
        font-size: 0.7rem;
    }
    .button{
        padding: 6px 63px;
        font-size: 1rem;
    }
    .form{
        height: 40%;
    }
    .links{
        top: 14rem;
    }
    .itemBox{
        gap: 5vw;
    }
    #sectorTwoP{
        font-size: 2vw;
    }
    #arrow{
        bottom: 0.5rem;
    }
    .sepet{
        font-size: 5vw;
    }
    .buy{
        font-size: 5vw;
    }
    .section1{
        margin-bottom: 20vw;
    }
    .section2{
        transform: translateY(-10%);
    }
}