*{
    margin: 0;
    padding: 0;
}
html{
    background-image: linear-gradient(40deg, white, rgb(168, 135, 168));
}
html, body{
    height: 100%;
    overflow-X: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    top: 0.313rem;
    position: absolute;
    font-size: 2.5rem;
    transition: 170ms;
}
#logo:hover{
    font-size: 2.8rem;
    transition: 0.1s ease;
}
#bag{
    top: 0.713rem;
    position: absolute;
    right: 4.125rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 170ms;
}
#bag:hover{
    font-size: 1.7rem;
    transition: 0.1s ease;
}
#bar{
    top: 0.550rem;
    position: absolute;
    right: 1.25rem;
    margin-top: 0.313rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 170ms;
}
#bar:hover{
    font-size: 1.7rem;
    transition: 0.1s ease;
}
#account{
    top: 0.713rem;
    position: absolute;
    left: 0.938rem;
    transition: 170ms;
}
#account::after{
    content: "";
    position: absolute;
    background-color: rgb(234, 234, 244);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}
#account:hover::after{
    width: 100%;
    transition: 170ms;
}
#kolye::after{
    content: "";
    position: absolute;
    background-color: rgb(234, 234, 244);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}
#kolye:hover::after{
    width: 100%;
    transition: 170ms;
}
#kolye{
    top: 0.713rem;
    position: absolute;
    left: 6.13rem;
    transition: 170ms;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 60%;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 19px black;
}
.container:hover{
    box-shadow: 4px 4px 24px black;
}
a{
    text-decoration: none;
    color: white;
}
.signUp{
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signIn{
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 1.5vw;
}
button{
    font-size: 1rem;
    margin-top: 2.5vw;
    border-radius: 5px;
    background-color: rgb(162, 105, 215);
    color: white;
    border: none;
    padding: 0.5vw;
    cursor: pointer;
    transition: 150ms;
}
button:hover{
    background-color: rgb(152, 78, 221);
    transform: scale(102%);
    transition: 150ms;
}
.mailText{
    margin-top: 3vw;
}
.forget{
    color: gray;
}




@media (max-width: 750px){
    .container{
        width: 90%;
    }
    .signUp h1{
        margin-left: 6vw;
    }
    .signIn h1{
        margin-left: 3vw;
    }
}
@media (max-width: 420px){
    .container{
        width: 100%;
    }
}
