*{
    margin: 0;
    padding: 0;
    overflow-X: hidden;
}
html, body{
    height: 100%;
}
.sectorOne{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.sectorTwo{
    background-color: antiquewhite;
    height: 100vh;
}
.sectorThree{
    background-color: rgb(255, 5, 101);
    height: 100vh;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    top: 0.313rem;
    position: absolute;
}
#bag{
    top: 0.313rem;
    position: absolute;
    right: 4.125rem;
}
#bar{
    top: 0.250rem;
    position: absolute;
    right: 1.25rem;
    margin-top: 0.313rem;

}
#account{
    top: 0.313rem;
    position: absolute;
    left: 0.938rem;
}
#kolye{
    top: 0.313rem;
    position: absolute;
    left: 5.313rem;
}

@media (max-width: 500px){
    .sectorOne{
        background-image: url("images/31.jpg");
    }
}